<nav>
    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'product_list' %}">상품 정보 조회</a></li>
        <li><a href="{% url 'product_insert' %}">상품 등록</a></li>
        <li><a href="{% url 'product_search_form' %}">상품 검색</a></li>



        <li><a href="{% url 'ajax_test' %}">ajax test</a></li>
        <li><a href="{% url 'product_search_form2' %}">Ajax 상품 검색</a></li>
        <li><a href="{% url 'product_search_form3' %}">Ajax 상품 검색3</a></li>
    </ul>
</nav>